body{
    background: rgba(18, 158, 214, 0.664);
}
h1{ 
    text-align: center;
    
}
p{
    font-size: medium;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
img{
    width: 300px;
    height: 300px;
    margin-right: 80px !important;
    margin-left: 200px !important;
    
}
.cabecalho{
    background-color: brown;
    display: flex;

}
.logoimg{
    width: 150px;
    height: 140px;
    margin-left: 20px;
} 
.listacabecalho{
    display: flex;
    margin-left: 200px;
    margin-top: 40px;
}
.itemlistacabecalho{
     list-style: none;
     text-transform: lowercase;
     font-size: 30px;
     padding-left: 10px ;
} 
